<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
    <header th:insert="fragments :: header"></header>
    <h1>Accounts List</h1>
    <ul>
        <li th:each="account : ${accounts}">
            <a th:href="@{/accounts/{id}(id=${account.getUsername()})}" th:text="${account.getUsername()}"></a>
        </li>
    </ul>
</body>
</html>