<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:insert="fragments :: header"></header>
    <form th:method="POST" th:action="@{/products}" th:object="${product}">
        <input type="text" required th:field="*{name}" placeholder="name">
        <input type="number" min="0" th:field="*{price}" placeholder="price">
        <input type="number" min="0" th:field="*{quantity}" placeholder="quantity">
        <input type="submit" value="Create">
    </form>
</body>
</html>